// Place all the styles related to the QuestionsController controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;

}

.container {
  border-left: 2px solid black;
  // text-align: center;
  padding-left: 20px;
  margin-left: 700px;
  margin-top: 50px;

}
